body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('https://images.pexels.com/photos/3184298/pexels-photo-3184298.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

}

.button-container {
    display: flex;
    gap: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart-icon:hover #cartDetails {
    display: block;
}

.cart-details {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #050505;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.button {
    padding: 10px 20px;
    background-color: #4ba84b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.cart-icon {
    position: relative;
    cursor: pointer;

}


.cart-icon img {
    width: 40px;
    height: 40px;
}

#cartCount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}


.cart-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 150px; /* Ajusta el ancho según tus preferencias */
    height: 200px;
}

.cart-details li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

h1, h2, h3 {
    color: #fff;
}

form {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #fff;
}

th {
    background-color: #333;
}
